.about_content {
    font-size: 20px;
    padding-top: 20px;
    text-align: justify;
}

.about_what .paragraph {
    padding: 15px;
}

.why_imp {
    font-size: 50px;
    padding: 30px 9px 25px;
}

.why {
    font-size: 50px;
    text-align: center;
    padding: 60px 20px 30px;
}

.about_why {
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
    text-align: center;
    margin-left: 20px;
}

.about_whys {
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
    text-align: center;
    margin-left: 20px;
}
.why_card {
    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 20px;
    width: 400px;
    margin: 10px;
    box-shadow: grey;
    transition: transform 0.3s ease-in-out;
}

.why_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.why_card h3 {
    margin-bottom: 10px;
}

.why_content {
    font-size: 20px;
    padding-top: 20px;
}
