/* .doodle {
    background-image: url('public/images/doodles/myhero_background.jpg');
    background-color: rgba(255, 255, 255, 0.5);

} */
/* .mydoodle {
    position: relative; 
} */

/* .mydoodle::before {
    content: ""; 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('public/images/doodles/myhero_background.jpg'); 
    opacity: 0.1; 
    z-index: -1; 
} */
