.collage {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust the minimum width (200px) as needed */
    grid-gap: 0.5vh;
    padding: 10px;
    grid-auto-flow: dense;
  }
  /* Swiperstyle.css */
  
  h1 {
    font-size: 24px; /* Adjust font size as needed */
    color: #333; /* Adjust color as needed */
    margin: 0; /* Remove margin */
    display: flex; /* Add flexbox */
    justify-content: center; /* Center align */
  }
  
  .grid-item {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
  }
  
  .grid-item img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    border-radius: 9px;
  }
  
  @media (max-width: 768px) {
    .collage {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust the minimum width (150px) as needed */
    }
  }