/* .myClassForThisDiv {
    padding: 30px;
    height: 60vh;
} */

.myClassForThisDiv{
    height: calc(60vh-60px);
    background: linear-gradient(180deg, #111132, #0c0c1d);
}

.myClassForThisDiv {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0px;
    font-size: 2rem;
    font-weight: 800;
    border-radius: 5px;

}

.aboutCardHeading{
    color: lightgray;
    font-size: 50px;
}

.aboutCardDescription{

    color: lightgray;
}