body {
    font-family: Arial, sans-serif;
}

.prev-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.prev-container h2 {
    margin-top: 10px;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.prev-container .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
    font-size: 2rem;
    max-width: 80%;
}

.prev-container .text-container p {
    text-align: justify;
}

.prev-container .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 40px;
}

.prev-container .btn:hover {
    background-color: #0056b3;
}

.prev-container .carousel-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .prev-container {
        padding: 10px;
    }

    .prev-container h2 {
        margin-top: 20px;
        font-size: 2.5rem;
    }

    .prev-container .text-container {
        font-size: 1.6rem;
        max-width: 80%;
    }

    .prev-container .carousel-container {
        flex-direction: column;
        align-items: center;
        width: 800px;
    }
}