/* timer.css */

.timer-container {
  padding: 0px;
  display: flex;
  /* justify-content: center; */
}

.timer {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/* .timer-item {
  text-align: left;
  align-items: left;
} */

.timer-value {
  /* height: 60px; */
  /* width: 60px; */
  /* background: #31363F; */
  /* background-color: lightgrey; */
  margin: 10px;
  /* padding: 10px; */
  display: flex;
  font-size: 2.5rem;
  /* font-weight: bold; */
  /* font-style: italic; */
  color: white;
  /* border-radius: 5px; */
  justify-content: center;
  align-items: center;
}

.timer-label {
  display: block;
  font-size: 1.7rem;
  margin: 10px;
  /* color: var(--primary-extra-dark); */
  text-align: center;
  font-weight: 400;
}